:root {
    /* Light Mode Colors */
    --light-bg-1: #fff7e6;
    --light-bg-2: #fceed5;
    --light-bg-3: #fffcee;
    --light-text: #333333;
    --light-subtext: #505056;

    /* Dark Mode Colors */
    --dark-bg: #292E3C;
    --dark-text: #eeeeee;
    --dark-default-text: #505056;

    /* Accent Colours */
    --primary-accent-color: #ffd166;
    --secondary-accent-color: #ffe6bb;
    --tertiary-accent-color: #fbdfac;



    /* --light-text: #121212; */
    /* --primary-accent-color: #c4dfe5; */
    /* --primary-accent-color: #fififi; */
    /* --secondary-accent-color: #cde9dc; */
    /* --secondary-accent-color: #77c3a2; */
}
