/*dark css*/


.discoverAI-dark{
	background: #292E3C;
}

.header-container-dark .main-navigation ul > li > a{
	color: #fff;
}
.header-container-dark .header-nav-box .right-nav-controls .login-button{
	color: #fff;
}



.discoverAI-hero-area-dark .discoverAI-hero-content .discoverAI-title{
	color: #fff;
}

.discoverAI-hero-area-dark .discoverAI-hero-content p{
	color: #fff;
}

.discoverAI-hero-area-dark .discoverAI-hero-content ul li a{
	background: #fff;
	border-color: #fff;
	color: #0e1133;
}

.discoverAI-hero-area-dark .discoverAI-hero-content ul li a:hover{
	background: transparent;
	color: #fff;
}

.discoverAI-hero-area-dark .discoverAI-hero-content ul li a.item-2{
	color: #fff;
}
.discoverAI-hero-area-dark .discoverAI-hero-content ul li a.item-2:hover{
	background: #fff;
	color: #0e1133;
}

.discoverAI-service-area.discoverAI-service-area-dark{
	background: #1f2128;
}

.discoverAI-service-area-dark .discoverAI-section-title .discoverAI-title{
	color: #fff;
}
.discoverAI-service-area-dark .discoverAI-section-title p{
	color: #fff;
}

.discoverAI-service-area-dark  .discoverAI-single-service{
	background: #292E3C;
}

.discoverAI-service-area-dark .discoverAI-single-service p,
.discoverAI-service-area-dark .discoverAI-single-service .discoverAI-title{
	color: #fff;
}

.discoverAI-features-area-dark  .discoverAI-features-tabs-btn .nav a{
	color: #fff;
}

.discoverAI-features-area-dark .discoverAI-features-content p,
.discoverAI-features-area-dark .discoverAI-features-content .title{
	color: #fff;
}

.discoverAI-traffic-area-dark .discoverAI-traffic-title p,
.discoverAI-traffic-area-dark .discoverAI-traffic-title .title{
	color: #fff;
}

.discoverAI-traffic-area-dark .discoverAI-traffic-service p,
.discoverAI-traffic-area-dark .discoverAI-traffic-service .title{
	color: #fff;
}

.discoverAI-traffic-area-dark .traffic-btn a.start-assessment-button{
	color: #fff;
}
.discoverAI-traffic-area-dark .traffic-btn a.start-assessment-button:hover{
	background: #fff;
	color: #2b70fa;
}

.discoverAI-team-area-dark .discoverAI-section-title p,
.discoverAI-team-area-dark .discoverAI-section-title .discoverAI-title{
	color: #fff;
}

.discoverAI-team-area-dark .discoverAI-team-item .content span,
.discoverAI-team-area-dark .discoverAI-team-item .content .title{
	color: #fff;
}

.discoverAI-team-area-dark .team-btn a{
	color: #fff;
}



.discoverAI-faq-area-dark.discoverAI-faq-area,
.discoverAI-pricing-area-dark.discoverAI-pricing-area{
	background: #1f2128;
}

.discoverAI-pricing-area-dark .discoverAI-section-title p,
.discoverAI-pricing-area-dark .discoverAI-section-title .discoverAI-title{
	color: #fff;
}



.discoverAI-pricing-area-dark.discoverAI-pricing-area ul.switch-toggler-list li a{
	color: #fff;
	opacity: 0.1;
}
.discoverAI-pricing-area-dark.discoverAI-pricing-area ul.switch-toggler-list li.active a{
	color: #fff;
	opacity: 1;
}


.discoverAI-pricing-area-dark.discoverAI-pricing-area .pricing-one__single{
	background: #292E3C;
	color: #fff;
}

.discoverAI-pricing-area-dark .pricing-one__single .pricig-heading h6{
	color: #fff;
}

.discoverAI-pricing-area-dark .pricing-one__single .pricig-heading .price-range{
	color: #fff;
}

.discoverAI-pricing-area-dark .pricing-one__single .pricig-heading .price-range p{
	color: #fff;
}

.discoverAI-pricing-area-dark .pricing-one__single .pricig-heading > p{
	color: #fff;
}

.discoverAI-pricing-area-dark .pricing-one__single .pricig-body ul li{
	color: #fff;
}

.discoverAI-pricing-area-dark  .pricing-one__single .pricig-body .pricing-btn a{
	color: #fff;
}




.discoverAI-faq-area.discoverAI-faq-area-dark .discoverAI-section-title p,
.discoverAI-faq-area.discoverAI-faq-area-dark .discoverAI-section-title .discoverAI-title{
	color: #fff;
}


.discoverAI-faq-area.discoverAI-faq-area-dark .faq-accrodion .accrodion{
	background: #292E3C;
	
}
.discoverAI-faq-area.discoverAI-faq-area-dark .faq-accrodion .accrodion .accrodion-inner,
.discoverAI-faq-area.discoverAI-faq-area-dark .faq-accrodion .accrodion.active .accrodion-inner{
	border-color: #292E3C;
	background: #292E3C;
}

.discoverAI-faq-area.discoverAI-faq-area-dark .faq-accrodion .accrodion .accrodion-content p,
.discoverAI-faq-area.discoverAI-faq-area-dark .faq-accrodion .accrodion .accrodion-title h4{
	color: #fff;
}

.discoverAI-blog-area-dark .discoverAI-section-title p,
.discoverAI-blog-area-dark .discoverAI-section-title .discoverAI-title{
	color: #fff;
}
.discoverAI-blog-area-dark .discoverAI-blog-item .content > a,
.discoverAI-blog-area-dark .discoverAI-blog-item .content .title a,
.discoverAI-blog-area-dark .discoverAI-blog-item .content .blog-meta ul li a,
.discoverAI-blog-area-dark .discoverAI-blog-item .content .blog-meta ul li{
	color: #fff;
}

.discoverAI-blog-area-dark .discoverAI-blog-item .content > a:hover,
.discoverAI-blog-area-dark .discoverAI-blog-item .content .title a:hover{
	color: #2b70fa;
}


.discoverAI-footer-area-dark.discoverAI-footer-area{
	background: #1f2128;
}

.discoverAI-footer-area-dark .footer-about-widget a,
.discoverAI-footer-area-dark .footer-about-widget p{
	color: #fff;
}
.discoverAI-footer-area-dark .footer-about-widget a:hover{
	color: #2b70fa;
}

.discoverAI-footer-area-dark .footer-widget-info ul li a,
.discoverAI-footer-area-dark .footer-widget-info .title,
.discoverAI-footer-area-dark .footer-navigation ul li a,
.discoverAI-footer-area-dark .footer-navigation .title{
	color: #fff;
}
.discoverAI-footer-area-dark .footer-navigation ul li a:hover{
	color: #2b70fa;
}

.discoverAI-footer-area-dark .footer-copyright .copyright-text p{
	color: #fff;
}

.discoverAI-footer-area-dark  .footer-copyright .apps-download-btn ul li a:hover{
	color: #fff;
}
.discoverAI-footer-area-dark  .footer-copyright .apps-download-btn ul li a.item-2{
	color: #fff;
}