/*==== rtl css ====*/



.discoverAI-traffic-area.discoverAI-traffic-area-rtl .traffic-thumb {
	left: 0;
	right: auto;
	transform: translateY(-50%) rotateY(-180deg);
}


.discoverAI-traffic-area-rtl .discoverAI-traffic-title{
	padding-left: 220px;
	padding-right: 0;
}


.discoverAI-traffic-area-rtl .discoverAI-traffic-service .icon{
	right: 0;
	left: auto;
}



.discoverAI-faq-area-rtl .faq-accrodion .accrodion .accrodion-title::after,
.discoverAI-faq-area-rtl .faq-accrodion .accrodion .accrodion-title::before{
	right: auto;
	left: 30px;
}


.discoverAI-project-area.discoverAI-project-area-rtl .discoverAI-project-box .discoverAI-project-thumb{
	left: 70px;
	right: auto;
}



.discoverAI-project-area-rtl .discoverAI-project-content .input-box input{
	padding-left: 0;
	padding-right: 30px;
}


.discoverAI-project-area-rtl .discoverAI-project-content .input-box button{
	margin-left: 0;
	margin-right: 10px;
}





.header-container-rtl .main-navigation ul{
	text-align: right;
}





.header-container-rtl .main-navigation ul > li .sub-menu{
	text-align: right;
}




















