.main-navigation ul > li .sub-menu > li:hover > a {
    color: var(--light-text);
    background-color: var(--light-green);
    border-radius: 4px;
  }


  /* .main-navigation span:hover > a {
    color: var(--light-text);
    background-color: var(--light-green);
    border-radius: 4px;
  } */